<h1 class="text-center">Review</h1>
<section class="section">
    <div class="container border rounded shadow p-4 bg-light">
        <table id="tblReview" class="table table-bordered">
            <thead>
                <tr>
                    <th>PropertyTitle</th>
                    <th>User Name</th>
                    <th>Comment</th>
                    <th>Rating</th>
                </tr>
            </thead>
        </table>
    </div>
</section>

@section Scripts {
    <script src="~/js/Review.js"></script>
}

